<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>B2C-hwl</display-name>
  <servlet>
    <servlet-name>TradeQuery</servlet-name>
    <servlet-class>edu.winlandiano.TradeQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Credit_Query_serv</servlet-name>
    <servlet-class>edu.winlandiano.Credit_Query_serv</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>TradeQuery</servlet-name>
    <url-pattern>/servlet/TradeQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Credit_Query_serv</servlet-name>
    <url-pattern>/servlet/Credit_Query_serv</url-pattern>
  </servlet-mapping>
    <welcome-file-list>
        <welcome-file>web/html/home_nologin.html</welcome-file>
    </welcome-file-list>
</web-app>